<button type="button" class="btn btn-primary" id="refresh-button">Refresh</button>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#waiting">Waiting</a></li>
  <li><a data-toggle="tab" href="#ongoing">Ongoing</a></li>
  <li><a data-toggle="tab" href="#complete">Complete</a></li>
</ul>

<div class="tab-content">
  <div id="waiting" class="tab-pane fade in active">
    <ul class="list-group">
    	<table class="table table-hover">
			<thead>
			  <tr>
			    <th>Request ID</th>
			    <th>Customer ID</th>
			    <th>Time Ellapsed</th>
			    <th>Action</th>
			  </tr>
			</thead>
			<tbody>
				<% @waiting_requests.each do |request| %>
					<tr class="request-row" data-request-id="<%= request.id %>">
					    <td><%= request.id %></td>
					    <td><%= request.customer_id %></td>
					    <td><%= ((Time.now - request.created_at)/(60)).to_i %> Mins</td>
					    <td><button onclick="selectRequest(this)" style="float: right;" type="button" class="btn btn-primary" id="select-request-button" data-request-id="<%= request.id %>">Select</button></td>
					</tr>
				<% end %>
			</tbody>
		</table>		
	</ul>
  </div>
  <div id="ongoing" class="tab-pane fade">
    <ul class="list-group">
    	<table class="table table-hover">
			<thead>
			  <tr>
			    <th>Request ID</th>
			    <th>Customer ID</th>
			    <th>Requested</th>
			    <th>Picked</th>
			    <th>Action</th>
			  </tr>
			</thead>
			<tbody>
				<% @ongoing_requests.each do |request| %>
					<tr class="request-row">
					    <td><%= request.id %></td>
					    <td><%= request.customer_id %></td>
					    <td><%= ((Time.now - request.created_at)/(60)).to_i %> Mins</td>
					    <td><%= ((Time.now - request.updated_at)/(60)).to_i %> Mins</td>
					    <td></td>
					</tr>
				<% end %>
			</tbody>
		</table>		
    	
	</ul>
  </div>
  <div id="complete" class="tab-pane fade">
    <ul class="list-group">
    	<table class="table table-hover">
			<thead>
			  <tr>
			    <th>Request ID</th>
			    <th>Customer ID</th>
			    <th>Requested</th>
			    <th>Picked</th>
			    <th>Action</th>
			  </tr>
			</thead>
			<tbody>
				<% @complete_requests.each do |request| %>
					<tr  class="request-row" data-request-id="<% request.id %>">
					    <td><%= request.id %></td>
					    <td><%= request.customer_id %></td>
					    <td><%= ((Time.now - request.created_at)/(60)).to_i %> Mins</td>
					    <td><%= ((Time.now - request.updated_at)/(60)).to_i %> Mins</td>
					    <td></td>
					</tr>
				<% end %>
			</tbody>
		</table>		
    	
	</ul>
  </div>
</div>

<script>
	$(document).ready(function(){
		$("#refresh-button").click(function(){
			$.ajax({
				dataType: "json",
				method: "GET",
				url: "/api/one/cab_requests?" + "driver_id=<%= params[:id] %>",
			})
			.done(function( response ) {
				$("#waiting").find(".request-row").remove()
			    $.each(response.waiting_requests, function(index, request){
					var diffMins = diffInMinute(request.created_at)
		    		
		    		var row = ['<tr class="request-row" data-request-id="' + request.id + '">',
		    					'<td class="request-row">',
		    						request.id,
		    					'</td>',
		    					'<td>',
		    						request.created_at,
		    					'</td>',
		    					'<td>',
		    						diffMins + ' Mins',
		    					'</td>',
		    					'<td>',
		    						'<button onclick="selectRequest(this)" style="float: right;"" type="button" class="btn btn-primary" id="select-request-button" data-request-id="' + request.id + '">Select</button>',
		    					'</td>',
		    					'</tr>'].join("")
		    		$("#waiting").find("tbody").append(row)
			    })
			    
			    $("#ongoing").find(".request-row").remove()
			    $.each(response.ongoing_requests, function(index, request){
					var diffMins = diffInMinute(request.created_at)
					var diffMins1  = diffInMinute(request.updated_at)
		    		var row = ['<tr class="request-row">',
		    					'<td>',
		    						request.id,
		    					'</td>',
		    					'<td>',
		    						request.customer_id,
		    					'</td>'	,
		    					'<td>',
		    						diffMins + ' Min',
		    					'</td>',
		    					'<td>',
		    						diffMins1 + ' Mins',
		    					'</td>',
		    					'<td>',
		    					'</td>',
		    					'</tr>'].join("")
		    		$("#ongoing").find("tbody").append(row)
			    })

			    $("#complete").find(".request-row").remove()
			    $.each(response.complete_requests, function(index, request){
					var diffMins = diffInMinute(request.created_at)
					var diffMins1 = diffInMinute(request.updated_at)
			    	var row = ['<tr class="request-row">',
		    					'<td>',
		    						request.id,
		    					'</td>',
		    					'<td>',
		    						request.created_at,
		    					'</td>',
		    					'<td>',
		    						diffMins + ' Mins',
		    					'</td>',
		    					'<td>',
		    						diffMins1 + ' Mins',
		    					'</td>',
		    					'<td>',
		    					'</td>',
		    					'</tr>'].join("")
		    		$("#complete").find("tbody").append(row)
			    })
			});
		})	
	})

	var selectRequest = function(row) {
		var requestId = $(row).data("request-id")
		
		$.ajax({
			method: "POST",
			url: "/api/one/cab_requests/" + requestId + "/process_request?driver_id=<%= params[:id] %>",
		})
		.done(function( response ) { 
			var diffMins = diffInMinute(response.created_at)
			
			var row = ['<tr class="request-row">',
		    					'<td>',
		    						response.cab_request_id,
		    					'</td>',
		    					'<td>',
		    						response.customer_id,
		    					'</td>',
		    					'<td>',
		    						diffMins + ' Min',
		    					'</td>',
		    					'<td>',
		    						'Just Now',
		    					'</td>',
		    					'<td>',
		    					'</td>',
		    					'</tr>'].join("")
		    		$("#complete").find("tbody").append(row)
			$("#ongoing").find("tbody").append(row)
		   	$('[href="#ongoing"]').tab('show')
			$("tr[data-request-id='"+ requestId + "']").remove()
		})
		.fail(function( response ){
			if(response.responseJSON.message == "failed" && response.responseJSON.reason == "“request no longer available") {
				alert("request already booked for other drive")	
				$("tr[data-request-id='"+ requestId + "']").remove()
			}else {
				alert("failed because: " + response.responseJSON.reason)
			}
		});
	}

	var diffInMinute = function(dateString) {
		var now = new Date();
		var createdAt = new Date(dateString);
		var diffMs = (now - createdAt); // milliseconds between now & createdAt
		var diffDays = Math.floor(diffMs / 86400000); // days
		var diffHrs = Math.floor((diffMs % 86400000) / 3600000); // hours
		var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000); // minutes
		return diffMins
	}
</script>