<!DOCTYPE html>
<html>
  <head>
    <title>Cab Service</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% flash.each do |key, value| %>
	  <div class="alert alert-<%= key %>">
	    <a href="#" data-dismiss="alert" class="close">×</a>
	    <ul>
	      <li>
	        <%= value %>
	      </li>
	    </ul>
	  </div>
	<% end %>

	<% if user_signed_in? %>
	  <div>
	  	<button type="button" class="btn btn-info">
	  		<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        	
	  	</button>
	  	<br>
	  	<br>
	  	<br>
	  </div>
	<% end %>
    <%= yield %>
  </body>
</html>
